@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f2f2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  width: 30px;
  float: right;
  margin-top: 0.3em;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.navbar {
  height: 50px;
}
.navbar .container {
  border-bottom: solid 1px black;
}
.logo {
  line-height: 50px;
  font-size: 1.3em;
}
nav {
  background: white;
  text-align: center;
  height: 100vh;
  display: none;
}

nav ul li {
  margin-top: 10%;
}

nav ul li a {
  font-size: 1.3em;
  color: black;
}

nav p {
  margin-top: 10%;
  color: black;
  font-size: 1.3em;
}

nav a {
  color: black;
}

nav a:hover {
  font-weight: 700;
}
#mobile-exit {
  cursor: pointer;
}
main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)),
    url(img/livr.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

main h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5%;
  color: white;
  font-size: 3em;
  font-weight: 400;
}

.about {
  margin-top: 1em;
}

.aboutm {
  margin-top: 100vh;
}

.about h1 {
  font-size: 2.5em;
  font-weight: 400;
  padding-bottom: 0.3em;
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

.about img {
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.menu-btn {
  display: block;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
    max-width: 1080px;
  }

  main h1 {
    margin-left: 10%;
  }

  .menu {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: unset;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    height: 80px;
  }

  nav ul li {
    display: inline-block;
    margin-left: 2em;
  }
  nav ul li a {
    font-size: 1.2em;
  }

  #mobile-exit {
    display: none;
  }

  .other {
    display: none;
  }

  .logo {
    margin: unset;
    font-size: 1.6em;
  }

  .flex {
    display: flex;
  }
  .flex img {
    width: 40%;
    flex-basis: 45%;
  }

  .text {
    flex-basis: 55%;
    margin-right: 20px;
    padding-right: 30px;
    border-right: solid 2px black;
    display: grid;
    place-content: center;
  }

  .about h1 {
    border: none;
    margin-bottom: 10px;
    padding-bottom: unset;
  }

  .about p {
    margin: 10px 0;
  }

  .flex1 {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .flex1 p {
    margin-bottom: 2em;
  }

  .flex1 img {
    width: 100%;
  }

  #pool .container {
    display: flex;
  }

  #pool {
    margin: 2em 0;
  }

  #pool img {
    width: 50%;
  }

  .pooltext {
    order: 2;
    display: grid;
    place-content: center;
    margin-left: 20px;
    padding-left: 30px;
    border-left: solid 2px black;
    text-align: right;
  }
}
